body {
  background-color: rgb(236, 238, 241);
}

p,
span,
label {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
}

h2 {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  font-weight: lighter;
}

fieldset {
  border: 0;
}

label {
  display: block;
  text-align: left;
}

input {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
  border-color: #8d9096;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}

button {
  width: 92%;
  margin: auto;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}

form > p {
  font-style: italic;
  color: #8d9096;
  font-size: 9pt;
  margin-left: 40px;
  margin-right: 40px;
}

form a {
  display: inline;
}

.create-account a {
  color: #0077c5;
  text-decoration: none;
  display: block;
  text-align: center;
}

footer a:link {
  text-decoration: none;
  color: black;
}

footer > div > p {
  width: 100%;
  height: auto;
  margin-top: 5px;
  text-align: center;
  font-size: 9pt;
}

.page-header {
  display: flex;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  margin-top: 5px;
}

.page-header p {
  font-size: 10pt;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.page-header a {
  text-decoration: none;
  color: #0077c5;
}

.page-header button {
  width: 40px;
  height: 34px;
  font-size: 12px;
  font-weight: normal;
  padding: 0 20px;
}

.logos-text {
  bottom: 8px;
  position: relative;
}

.create-account {
  border: 1px solid #8d9096;
  border-radius: 3px;
  text-align: center;
  background-color: white;
  width: 380px;
  margin: auto;
}

.create-account p {
  color: #4c4c4c;
  font-size: 14px;
}

#site-logo {
  margin-bottom: 10px;
}

#logos {
  text-align: center;
  margin-bottom: 20px;
}

#logos img {
  margin-left: 5px;
}

#logos-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logos span {
  margin-left: 2px;
}

.btn {
  background-color: DodgerBlue;
  border: 1px solid black;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
  height: auto;
}

#have-an-acc-txt {
  margin-right: 5px;
}

#sign-in-btn {
  width: auto;
}

.zero-bottom-margin {
  margin-bottom: 0;
}

#standard-call-text {
  margin-top: 5px;
  float: left;
  font-size: 8pt !important;
}

#pass {
  position: relative;
}

#pass i {
  font-size: 14pt;
  color: #8d9096;
  right: 20px;
  top: 40px;
  position: absolute;
}

#create-account a {
  display: inline;
}

#form-Invisible-reCAPTCHA-p {
  font-size: 8pt;
  color: #8d9096;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(236, 238, 241);
}

#form-Invisible-reCAPTCHA-p a {
  display: inline;
}

#form-Invisible-reCAPTCHA-p footer {
  margin-top: 30px;
  text-align: center;
}

#footer-links {
  display: flex;
  padding-right: 10px;
  margin-top: 10px;
  color: rgb(80, 80, 80);
  justify-content: center;
}

#footer-links a {
  color: DodgerBlue;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 10px;
  font-size: 10pt;
}

#footer-links a:hover {
  text-decoration: underline;
}

#copy-right {
  margin-left: 20%;
  margin-right: 20%;
}
