body {
    background-color: rgb(236,238,241);
}
p,label{
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*.gray-border {
    border-color: #8D9096;
}*/
a{
    color: #0077C5;
    text-decoration: none;
    
}

.page-header{
    display: flex;
    font-family: AvenirNext, Avenir, Helvetica, Neue, Helvetica, Arial, sans-serif;
    justify-content: right;
    margin-left: 80%;
}
.page-header p{
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 0px;
}

#main {
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #8D9096;
    text-align: center;
    background-color: white;
    width: 30%;
    margin: auto;
}

#logos {
    text-align: center;
    margin-bottom: 20px;
}

#logos img {
    margin-left: 5px;
    animation: fade is ease forwards;
}

#logos-small {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logos span {
    margin-left: 2px;
}

fieldset {
    border: 0;
}

<<<<<<< HEAD
#password{
    background-image:url(images/unlock.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
=======
#lock-icon input[placeholder] {
    width: 100%;
    text-align: center;
    position: relative;
    border: 1px solid black;
>>>>>>> bd9121e5222708c9b043cd6bbc3843fc660e4e5e
}

label {
    display: block;
    text-align: left;
}

.btn {
    background-color: DodgerBlue;
    border: 1px solid black;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }

input {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

}

button {
    width: 92%;
    margin: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}
form>p{
    font-style: italic;
    color:#8D9096 ;
    font-size: 9pt;
    margin-left: 40px;
    margin-right: 40px;
    
}
#form-Invisible-reCAPTCHA-p{
    font-size: 8pt;
    color:#8D9096 ;
}
#form-Invisible-reCAPTCHA-p
footer {
    margin-top: 30px;
    text-align: center;
}

footer a:link {
    text-decoration: none;
    color: black;
}

#form-Invisible-reCAPTCHA-p
{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    background-color: rgb(236,238,241);
}
#footer-links
{
    padding-right: 10px;
    color: rgb(80,80,80);


}
#footer-links a:hover{
    text-decoration: underline;
}
#footer-links a{
    margin-right: 20px;
    font-size: 10pt;
}
footer p {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 10pt;
}
div #logos {
    animation: fade is ease forwards;
}
@keyframes fade{
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}