body {
    background-color: rgb(236,238,241);
}
p, h2, span, label{
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4C4C4C;
}
/*.gray-border {
    border-color: #8D9096;
}*/

h2 {
    color: #4C4C4C;
    font-weight: lighter;
}

.page-header{
    display: flex;
    font-family: AvenirNext, Avenir, Helvetica, Neue, Helvetica, Arial, sans-serif;
    justify-content: right;
    margin-left: 70%;
}
.page-header p{
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 0px;
}

#main {
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #8D9096;
    text-align: center;
    background-color: white;
    width: 30%;
    margin: auto;
}

#main p {
    color: #4C4C4C;
    font-size: 14px;
}

#main a {
    color: #0077C5;
    text-decoration: none;
    display: block;
    text-align: center;
}
#site-logo
{
    margin-bottom: 10px;
}
#logos {
    text-align: center;
    margin-bottom: 20px;
}

#logos img {
    margin-left: 5px;
    animation: fade is ease forwards;
}

#logos-small {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logos span {
    margin-left: 2px;
}

fieldset {
    border: 0;
}

label {
    display: block;
    text-align: left;
}

.btn {
    background-color: DodgerBlue;
    border: 1px solid black;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    height: auto;
    
  }
  #sign-in-btn{
      width: 100px;
      margin-left: 20px;
      
    
  }

input {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 30px;
    border-color: #8D9096;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

}
#standard-call-text{
    margin-top: 0px;
    float: left;
     font-size: 8pt !important; 

}

#password {
    background-image:url(images/unlock.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}

button {
    width: 92%;
    margin: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}
form > p{
    font-style: italic;
    color:#8D9096 ;
    font-size: 9pt;
    margin-left: 40px;
    margin-right: 40px;
    
}

form a {
    display: inline;
}

footer a:link {
    text-decoration: none;
    color: black;
}

#create-account a {
    display: inline;
}

#form-Invisible-reCAPTCHA-p
{
    font-size: 8pt;
    color:#8D9096 ;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(236,238,241);
}

#form-Invisible-reCAPTCHA-p a {
    display: inline;
}

#form-Invisible-reCAPTCHA-p footer {
    margin-top: 30px;
    text-align: center;
}

#footer-links
{
    display: flex;
    padding-right: 10px;
    margin-top: 10px;
    color: rgb(80,80,80);
    justify-content: center;

}

#footer-links a:hover{
    text-decoration: underline;
}

#footer-links a {
    color: DodgerBlue;
    font-family: AvenirNext, Avenir, Helvetica, Neue, Helvetica, Arial, sans-serif;
    margin-right: 10px;
    font-size: 10pt;
}

footer > div > p {
    width: 100%;
    height: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 9pt;
    
}
#copy-right{
    margin-left: 20%;
    margin-right: 20%;
}