body {
    background-color: rgb(236,238,241);
}
.page-header{
    display: flex;
    font-family: AvenirNext, Avenir, Helvetica, Neue, Helvetica, Arial, sans-serif;
    justify-content: right;
}


#main {
    border: solid;
    border-width: 1px;
    text-align: center;
    background-color: white;
    width: 30%;
    margin: auto;
}

#logos {
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    border: 0;
}

label {
    display: block;
    text-align: left;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
  }

input {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

button {
    width: 92%;
    margin: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer a:link {
    text-decoration: none;
    color: black;
}